 .container {
    width:50%;
    margin:auto;
    border:solid black 3px;
    text-align:center;
    padding:7px;
    background-color: lightgoldenrodyellow;
}

hr{

    width:75%;
    border:1px solid black;

}
