{% extends "layout.html" %}
{% block content %}

   <!-- {% for post in posts %}

    <h1>{{ post.title }}</h1>
    <p>By {{ post.author }} on {{ post.date_posted }}</p>
    <p>{{ post.content }}</p>
    <p>{{ number }}</p>

    {% endfor %} -->


    <h2>Welcome to the Calculator</h2>
                <form action="/calculator">
                    <input type='radio' name='choice' value='BMI'>BMI Calculator <br>
                    <input type='radio' name='choice' value='retire'>Retirement Calculator <br>
                    <input type='submit' value='Continue'>
                </form>

{% endblock content %}
